<!DOCTYPE html>
<html lang="en">
<head>
    <title>Error {{errorcode}}</title>
    <link rel="stylesheet" href="/static/error.css"/>
</head>
<body>
<img src="https://http.cat/{{errorcode}}.jpg" alt="Error {{errorcode}} cat picture"/>
</body>
</html>