<!DOCTYPE html>
<html lang="en">
<head>
    <title>Submit Yahtzee Scorecard</title>
    <link rel="stylesheet" href="/static/index.css"/>
</head>
<body>
<h2>Submit Scores</h2>
<form action="/submit" method="post">
    <label>Name: <input type="text" name="name"/></label>
    <input type="submit" value="Submit"/>
</form>
<h2>Scorecard</h2>
<table>
    <tr><th>Category</th><th>Score</th></tr>
    {{#each scores}}
        <tr>
            <td>{{this.kind}}</td>
            <td>{{this.value}}</td>
        </tr>
    {{/each}}
    <tr><td>Total</td><td>{{total}}</td></tr>
</table>
<details>
    <summary>Cancel</summary>
    <form action="/delete">
        <input type="submit" value="Cancel and reset"/>
    </form>
</details>
</body>
</html>